.wrapper {
  width: 849px;
  border: 1px solid rgb(229 231 235 / 1);
  border-radius: 1rem;
  background: rgb(229 231 235 / 1);
  box-sizing: border-box;
  padding: 0.5rem;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px; 
  grid-template-rows: 160px 160px 160px;
  column-gap: 8px;
  row-gap: 8px;
  box-sizing: border-box;
}

.container > .slot {
  background: rgb(255 255 255 / 1);
  border: 1px solid rgb(229 231 235 / 1);
  border-radius: 1rem;
  /* padding: 0; */
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  display: inline-grid;
}

.container > .slot-0 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container > .slot-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container > .slot-2 {
  grid-column-start: 3;
  grid-column-end: 4
}

.container > .slot-3 {
  grid-column-start: 4;
  grid-column-end: 5
}

.container > .slot-4 {
  grid-column-start: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  height: auto;
}

.container > .slot-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-end:4;
}

.container > .slot-6 {
  grid-column-start: 2;
  grid-column-end: 5
}

.container > .slot > .item {
  font-family: 'Helvetica', 'sans-serif';
  font-size: 32px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 1rem);
  box-sizing: border-box;
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.container > .slot > .item:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.container > .slot > .item-a {
  background: #FAF4D3;
}

.container > .slot > .item-b {
  background: #89D2DC;
  cursor: auto;
  cursor: -moz-auto;
  cursor: -webkit-auto;
}

.container > .slot > .item-b:active {
  cursor: auto;
  cursor: -moz-auto;
  cursor: -webkit-auto;
}

.container > .slot > .item-c {
  background: #F4E285;
}

.container > .slot > .item-d {
  background: #F4A259;
}

.container > .slot > .item-f {
  background: #5B8E7D;
}

.container > .slot > .item-g {
  background: #BC4B51;
}

.container .slot button.test-1 {
  padding: 0.25rem 0.75rem;
  font-size: 24px;
  background: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.container .slot span.test-2 {
  padding: 1rem;
  font-size: 32px;
  border-radius: 10px;
  border: none;
  margin-right: 0.5;
}

.b-wrapper {
  display: flex;
  gap: 50px;
}

.b-1 {
  background: #FFDDE1;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 0 1rem 1rem 0;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.b-1:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.b-2 {
  flex-grow: 1;
  text-align: center;
}